.app section.navigation .menu {
    height: 30px;
    top: 15;
}

.alinhamento-bloco-conteudo-header {
    position: relative;
    left: 75px;
}

.alinhamento-bloco-conteudo-header img {
    width: 100%;
}


.spinner { /* fantasma */
    left: 40%;
}