
	.container-margin{

		margin: 50px 20px 0px 20px;
	}

	table{
		width: 100%;
		text-align: center;
	}

	th{
		border: solid 1px #fff !important;
		color:  #fff;
		text-transform: uppercase;
	}

	td{

		border: solid 1px #ccc !important;
	}
	
	.login_form{

		margin-top: 50px;
	}

	.fixa{
		position: fixed;
		width: 100%;
		left: 0;
  		top: 0;
  		z-index: 999;
	}

	.titulo{

		margin-bottom: -50px !important;
	}

	.select-wrapper, input.select-dropdown {
		    margin: 36px 0 20px 0;
	}

	.btn_orcamento{
	
	    display: inline-block;
	    height: 20px !important;
	    width:  20px !important;
		padding:  0 !important;
	    line-height: 0 !important;
	    margin-top: 35px !important;
	}

	.titulo_coluna:link{
		color:  #fff !important;
	}

	.titulo_coluna:visited{
		color:  #fff !important;
	}

	.titulo_coluna:hover{
		color:  yellow !important;
	}

	.collection a.collection-item {
   
    color: #fff !important;
}