body {
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
}



header {
    height: 700px;
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(192, 216, 153);
}

.logotipo img {
    position: absolute;
    left: -20px;
}

.box-slogan {
    text-align: center;    
}
.box-slogan img {
    padding-top: 30%;
}

.menu-responsivo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.sessao1 {
    background-color: rgb(236, 236, 236);
    min-height: 850px;
}
.menu-central {
    background-color: rgb(255, 255, 255);

    -webkit-box-shadow: 1px 1px 54px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 1px 54px -10px rgba(0,0,0,0.51);
    box-shadow: 1px 1px 54px -10px rgba(0,0,0,0.51);

    display: block;
    position: relative;
    top: -70px;
}

.sessao1 p {
    text-align: center
}


.sessao2 {
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.video-institucional {
    display: block;
    position: relative;
    top: -70px;
}

.sessao3 {
    background-color: rgb(219, 219, 219);
    height: 600px;
}


.destaques {
    text-align: center;
}

.destaques a {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: rgb(223, 28, 97);
}
.destaques a span {
    display: block;
    text-transform: uppercase;
    color: rgb(58, 58, 58);
    font-weight: bold;
}

footer {
    height: 150px;
    background-color: rgb(58, 58, 58);
}
