.spinner-wrapper {
    position: relative;
    top: -25vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fae20f;
    z-index: 999999;
}

.spinner {
    position: absolute;
    top: 30%;
    left: 48%;
}